* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGray: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransiton: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}

body {
    color: var(--mainBlack);
    background-color: var(--mainWhite);
    font-family: "Lato", sans-serif;
    background-color: var(--bodyColor);
    position: relative;
}
.navbar{
    background-color: var(--secondaryColor);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-center{
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav-icon{
    cursor: pointer;
    color: var(--primaryColor);
}
.nav-title{
    color: var(--mainBlack)
}
.nav-shop-icon{
    position: relative;
    color: var(--primaryColor);
    cursor: pointer;
}
.nav-shop-icon i,
.nav-icon i {
    font-size: 1.5rem;
}
.nav-shop-item{
    position: absolute;
    background-color: var(--mainRed);
    color: var(--mainWhite);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    right: -8px;
    font-size: 0.75rem;
}


.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.products-title{
    margin: 2rem 0;
    /* background-color: #db2777; */
}
.products-center {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    column-gap: 3rem;
    row-gap: 3.5rem;
}
.product{
    background-color: var(--mainWhite);
    padding-bottom: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-img {
    width: 100%;
    min-height: 120px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.product-desc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}
.add-to-cart {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 5px 20px;
    font-weight: bold;
    margin-top: 1rem;
}




